@import "tailwindcss";

@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Geist Variable", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "Geist Mono Variable", ui-monospace, monospace;
}

:root {
  font-family: var(--font-sans);
  -webkit-font-smoothing: antialiased;

  --radius: 0.625rem;
  --background: #f4f4f5;
  --foreground: oklch(0.145 0 0);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: oklch(0.556 0 0);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.922 0 0);
  --input: oklch(0.922 0 0);
  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: oklch(0.708 0 0);

  --rewyt-play-50: oklch(0.96 0.02 22);
  --rewyt-play-100: oklch(0.93 0.04 20);
  --rewyt-play-200: oklch(0.89 0.06 21);
  --rewyt-play-300: oklch(0.85 0.08 21);
  --rewyt-play-400: oklch(0.82 0.1 20);
  --rewyt-play-500: oklch(0.78 0.13 20);
  --rewyt-play-600: oklch(0.75 0.15 20);
  --rewyt-play-700: oklch(0.72 0.17 19);
  --rewyt-play-800: oklch(0.69 0.2 19);
  --rewyt-play-900: oklch(0.66 0.23 19);
  --rewyt-play-950: oklch(0.64 0.25 18);

  --rewyt-selected-50: oklch(0.98 0.02 154);
  --rewyt-selected-100: oklch(0.96 0.03 157);
  --rewyt-selected-200: oklch(0.94 0.05 155);
  --rewyt-selected-300: oklch(0.93 0.06 156);
  --rewyt-selected-400: oklch(0.91 0.08 156);
  --rewyt-selected-500: oklch(0.89 0.1 156);
  --rewyt-selected-600: oklch(0.87 0.11 156);
  --rewyt-selected-700: oklch(0.85 0.13 156);
  --rewyt-selected-800: oklch(0.83 0.14 156);
  --rewyt-selected-900: oklch(0.82 0.16 156);
  --rewyt-selected-950: oklch(0.8 0.17 156);

  --rewyt-interval-50: oklch(0.95 0.03 308);
  --rewyt-interval-100: oklch(0.85 0.07 307);
  --rewyt-interval-200: oklch(0.76 0.12 306);
  --rewyt-interval-300: oklch(0.66 0.17 304);
  --rewyt-interval-400: oklch(0.55 0.23 301);
  --rewyt-interval-500: oklch(0.51 0.24 299);
  --rewyt-interval-600: oklch(0.44 0.21 299);

  --rewyt-play: var(--rewyt-play-800);
  --rewyt-play-light: color-mix(in oklch, var(--rewyt-play), white 30%);

  --rewyt-selected: var(--rewyt-selected-950);
  --rewyt-selected-light: var(--rewyt-selected-500);

  --rewyt-interval: var(--rewyt-interval-300);
  --rewyt-interval-light: var(--rewyt-interval-100);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.205 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.269 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(1 0 0 / 10%);
  --input: oklch(1 0 0 / 15%);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.488 0.243 264.376);
  --chart-2: oklch(0.696 0.17 162.48);
  --chart-3: oklch(0.769 0.188 70.08);
  --chart-4: oklch(0.627 0.265 303.9);
  --chart-5: oklch(0.645 0.246 16.439);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(1 0 0 / 10%);
  --sidebar-ring: oklch(0.556 0 0);
}

@theme inline {
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@utility selection-toolbar__item {
  @apply inline-flex h-10! items-center gap-1 rounded-xl! px-3 py-1;
}

@utility selection-toolbar__item--button {
  @apply selection-toolbar__item;
  background-color: var(--item-bg);
  &:hover {
    background-color: color-mix(
      in oklch,
      var(--item-bg) 60%,
      transparent
    ) !important;
  }
}

@utility selection-toolbar__item--button-narrow {
  @apply selection-toolbar__item--button px-2!;
}

@utility selection-toolbar__row {
  @apply flex items-center gap-2;
}

button:not(:disabled) {
  cursor: pointer;
}

button[data-state="on"] {
  @apply rounded-full;
}

button[data-state="off"]:hover {
  @apply rounded-full text-foreground;
}

:fullscreen video,
:fullscreen * video,
:-webkit-full-screen video,
:-webkit-full-screen * video {
  width: 100% !important;
  height: 100% !important;
  max-height: none;
  object-fit: contain;
}

.text-timestamp {
  @apply font-medium whitespace-nowrap text-muted-foreground tabular-nums transition-colors hover:text-foreground;
}
